*.tif
*.ini

!src/
!scripts/
# Ignore all generated output folders
examples/
examples/output/
examples/output_*/
outputs/
output/
output_*/
build/
build-*/
cmake-build-*/
.vscode/
.codex
external/
lib/libtorch*/
*.zip
